{% extends "./base.html" %}

{% block content %}

<div class="row text-center">
    <div class="col">
        <h4>welcome to tweetme</h4>
    </div>
</div>

<div class="row mb-3" >
    <div class="col-md-4 mx-auto col-10">
        <form class="form" id="tweet-create-form" method="POST" action="/create-tweet">
                {% csrf_token %}
                <div class="d-none alert alert-danger" id="tweet-create-form-error">

                </div>
            <input type="hidden" value="/" name="next" />
            <textarea required="required" class="form-control" name="content" placeholder="Your tweet..."></textarea>
            <button type="submit" class="btn btn-primary">Tweet</button>
        </form>
    </div>
</div>

<div class="row" id="tweets" >
    Loading...
</div>

<script>

    function handle_tweet_form_error(msg , display) {
        let my_error_div = document.getElementById('tweet-create-form-error')
        if (display === true) {
            //show error
            my_error_div.setAttribute('class' , 'd-block alert alert-danger');
            my_error_div.innerHTML = msg;
        } else {
            my_error_div.setAttribute('class' , 'd-none alert alert-danger');
        }
    }


    function handle_tweet_create_form_submit(e) {
        e.preventDefault();
        const my_form = e.target;
        const my_form_data = new FormData(my_form);
        const url = my_form.getAttribute('action');
        const method = my_form.getAttribute('method');

        const xhr = new XMLHttpRequest()
        xhr.open(method , url);
        xhr.setRequestHeader('HTTP_REQUESTED_WITH' , 'XMLHttpRequest')
        xhr.setRequestHeader('X-Requested-With' , 'XMLHttpRequest')
        xhr.onload = function() {
            if(xhr.status === 201) {
                handle_tweet_form_error('' , false)
                const new_tweet = JSON.parse( xhr.response)
                const new_tweet_element = format_tweet_element(new_tweet)
                
                const original_html = tweets_container_element.innerHTML;
                tweets_container_element.innerHTML = new_tweet_element + original_html;

                my_form.reset();
            } else if (xhr.status === 400) {
                const errorJSon = xhr.response;
                const content_error = errorJSon.content;

                let content_error_msg;
                if (content_error) {
                    content_error_msg = content_error[0]
                    if(content_error_msg) handle_tweet_form_error(content_error_msg , true)
                    else alert('an error occured')

                } else alert('another error')
                
            } else if (xhr.status === 401) {
                alert('login first!') 
                window.location.href = '/login'
            }
            else if (xhr.status === 500) alert('there was a server error')

        }
        xhr.onerror = function() {
            alert('an error accured');
        }
        xhr.send(my_form_data)
    }

    const tweet_create_element = document.getElementById('tweet-create-form')
    tweet_create_element.addEventListener('submit' , handle_tweet_create_form_submit)

    const tweets_container_element = document.getElementById('tweets')
    // tweets_element.innerHTML = 'loading...'

    const load_tweets = function(tweets_element) {
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = '/tweets'
        const response_type = 'json'

        xhr.responseType = response_type
        xhr.open(method , url)
        xhr.onload = function() {
            const server_response = xhr.response
            const listed_items = server_response
            
            console.log(listed_items)
            
            let item = '';
            for(let i=0 ; i<listed_items.length; i++) {
                let tweet_obj = listed_items[i]
                cur_item = format_tweet_element(tweet_obj)
                item += cur_item;
            }
            tweets_element.innerHTML = item;
        }
        xhr.send()
    }

    load_tweets(tweets_container_element);

    function handle_like (tweet_id , cur_count) {
        console.log(tweet_id , cur_count)
    }

    function like_btn(tweet) {
        return "<button class='btn btn-primary btn-sm' onClick=handle_like("+tweet.id +"," +tweet.likes+")>"+tweet.likes+" Likes</button>"
    }

    function format_tweet_element(tweet) {
        let cur_item = `<div class='col12 border-top py-2 mb-4' id=${tweet.id}>
                            <p>${tweet.content}</p>
                            <div class='btn-group'>${like_btn(tweet)}</div>
                        </div>`
        return cur_item
    }

    
</script>
{% endblock content %}
